p {
  font-family: "Quicksand";
  letter-spacing: 2px;
  font-size: small;
  font-weight: bold;
}

.cover {
  text-align: center;
  z-index:0;
  width:500px;
  height:500p;
}

.green {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: -1;
}

.upload {
  z-index: 0;
  width: 200px;
  resize: both;
  overflow: auto;
}

#upload {
  position: absolute;
  z-index: 1;
  text-align: center;
  padding: 10px;
  cursor: move;
}

.fa {
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  background: white;
  color: black;
}

.fa:hover {
  opacity: 0.5;
}

.button {
  background-color: white;
  border: none;
  /* border: 2px solid black; */
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Quicksand";
  letter-spacing: 2px;
  font-size: small;
  font-weight: bold;
  border-radius: 2px;
  /* outline: black; */
}

.button:hover {
  opacity: 0.5;
}